@import '../../style/variables';
@import '../../style/mixins';

.edit {
  height: 100%;
  position: relative;
}

.control {
  height: gap(xs) + gap(lg);
  padding: gap(xs) gap(sm) 0;
  background: color(sidebar);
  @include no-select;
}

.tab {
  margin: 0 gap(sm);
  padding: 0 gap(md);
  min-width: gap(lg);
  font-size: font(sm);
  line-height: gap(lg);
  background: color(content);
  display: inline-block;
  position: relative;

  &::before, &::after {
    content: '';
    border: 0 solid transparent;
    border-bottom-width: gap(lg);
    border-bottom-color: color(content);
    position: absolute;
    top: 0;
  }

  &::before {
    border-left-width: gap(sm);
    left: - gap(sm);
  }

  &::after {
    border-right-width: gap(sm);
    right: - gap(sm);
  }

  svg {
    width: gap(sm);
    height: gap(sm);
    margin: 0 (- gap(x2s)) 0 gap(sm);
    display: inline-block;
  }
}

.actions {
  position: absolute;
  top: gap(xs);
  right: 0;
}

.button {
  margin-right: gap(xs);
  @include button(primary);
}

.editor {
  position: absolute;
  top: gap(xs) + gap(lg);
  right: 0;
  left: 0;
  bottom: 0;

  & > div {
    height: 100%;
    font-family: $family-mono;
  }

  :global(.CodeMirror .CodeMirror-lines) {
    padding: gap(sm) 0;
  }
  :global(.CodeMirror .CodeMirror-line) {
    padding: 0 gap(sm);
  }
}
