@import '../../style/variables';
@import '../../style/mixins';

.edit {
  height: 100%;
  position: relative;
}

.control {
  height: gap(xs) + gap(lg);
  padding: gap(xs) gap(sm) 0;
  background: color(sidebar);
  @include no-select;
}

.tab {
  margin: 0 gap(sm);
  padding: 0 gap(md);
  min-width: gap(lg);
  font-size: font(sm);
  line-height: gap(lg);
  background: color(content);
  display: inline-block;
  position: relative;

  &::before, &::after {
    content: '';
    border: 0 solid transparent;
    border-bottom-width: gap(lg);
    border-bottom-color: color(content);
    position: absolute;
    top: 0;
  }

  &::before {
    border-left-width: gap(sm);
    left: - gap(sm);
  }

  &::after {
    border-right-width: gap(sm);
    right: - gap(sm);
  }
}

.actions {
  position: absolute;
  top: gap(xs);
  right: gap(xs);
}

.buttonPrimary {
  @include button(primary);
}

.buttonSecondary {
  @include button(secondary);
}

.editor {
  position: absolute;
  top: gap(xs) + gap(lg);
  right: 0;
  left: 0;
  bottom: 0;

  & > div {
    height: 100%;
    font-family: $family-mono;
  }

  :global(.CodeMirror .CodeMirror-lines) {
    padding: gap(sm) 0;
  }
  :global(.CodeMirror .CodeMirror-line) {
    padding: 0 gap(sm);
  }
}

.preview {
  padding: gap(lg);
  background: color(content);
  position: absolute;
  top: gap(xs) + gap(lg);
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 10;
}

.previewContent {
  max-width: 760px;
  font-size: font(md);
  line-height: $line-height-lg;

  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: gap(lg) 0 gap(md);
  }

  p {
    margin: 0 0 gap(md);
  }

  hr {
    margin: gap(lg) 0;
    border: 0;
    border-top: gap(x3s) solid color(secondary);
  }

  ul, ol {
    margin: 0 0 gap(md);
    padding: 0 0 0 gap(lg);

    li {
      padding: gap(x2s) 0;
    }
  }

  table {
    width: 100%;
    margin: 0 0 gap(md);
    border-spacing: 0;
    border-collapse: collapse;

    th, td {
      padding: gap(xs) gap(sm);
      border: gap(x3s) solid color(secondary);
    }
  }

  blockquote {
    margin: 0 0 gap(md);
    padding: 0 gap(md);
    border-left: gap(x3s) solid color(secondary);
  }

  code {
    margin: 0;
    padding: gap(xs);
    font-family: $family-mono;
    background: color(sidebar);
    border-radius: gap(xs);
  }

  pre {
    margin: 0 0 gap(md);
    padding: gap(sm) gap(md);
    background: color(sidebar);
    border-radius: gap(xs);

    code {
      padding: 0;
    }
  }
}
