@import '../../style/variables';

.shortcuts {
  height: 100%;
  display: flex;
  align-items: center;
}

.tableWrapper {
  width: 100%;
  max-height: 100%;
  padding: 0 gap(sm);
  overflow-y: auto;
}

.table {
  margin: 0 auto gap(lg);

  td {
    padding: gap(xs);
    color: color(secondary);
  }

  .title {
    padding: gap(lg) gap(xs) gap(sm);
    font-size: font(sm);
    text-transform: uppercase;
    text-align: left;
  }

  .keys {
    padding: (gap(xs) - gap(x2s)) 0;
    text-align: right;
  }
}

.step {
  margin: gap(x2s) gap(xs);
  padding: gap(x2s) gap(xs);
  font-size: font(sm);
  color: color(light);
  background: transparentize(color(secondary), 0.5);
  border-radius: gap(xs);
  display: inline-block;
  word-spacing: -(gap(x3s));
}
