@import '../../style/variables';

.shortcuts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 67%;
  max-width: 600px;
  max-height: 400px;
}

.text {
  margin: $gap-lg 0 0;
  font-size: $font-lg;
  font-weight: 400;
  text-align: center;
}

.link {
  margin: $gap-md 0 0;
}
