@import '../../style/variables';

.container {
  height: 100%;
  padding: 0 !important;
}

.row {
  height: 100%;
}

.toggle {
  height: 100%;
  background: scale-color($bg-sidebar, $lightness:-50%);
  cursor: pointer;
}

.sidebar {
  height: 100%;
}

.content {
  height: 100%;
  background: $bg-content;
}
