@import './variables';

* {
  font-family: inherit;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: color(content);
  font-family: $family-sans;
  font-size: font(md);
  font-weight: 400;
  line-height: $line-height-md;
  color: color(light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
h1 {
  font-size: font(x2l);
}
h2 {
  font-size: font(xl);
}
h3 {
  font-size: font(lg);
}
h4 {
  font-size: font(md);
}
h5 {
  font-size: font(sm);
}
h6 {
  font-size: font(xs);
}

a {
  color: color(primary);
  text-decoration: none;
  border-bottom: gap(x3s) dotted transparentize(color(secondary), .5);
  cursor: pointer;
}

input {
  outline: none;
}

#app {
  height: 100%;

  #loading {
    height: 100%;
    background: color(sidebar);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
