@import './variables';

* {
  font-family: inherit;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $bg-content;
  font-family: $fam-sans;
  font-size: $font-md;
  font-weight: 400;
  line-height: $line-height;
  color: $color-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $color-primary;
  text-decoration: none;
  border-bottom: 1px dotted transparentize($color-secondary, .5);
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

#app {
  height: 100%;
}
