@import './variables';

@mixin transition($value...) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin button($name) {
  padding: gap(xs) gap(sm);
  font-size: font(sm);
  font-weight: 600;
  color: color(light);
  text-align: center;
  background: scale-color(color($name), $lightness: -33%, $saturation: -50%);
  border: none;
  border-radius: gap(xs);
  cursor: pointer;
  display: inline-block;
  @include transition(background $transition-sm ease-out);

  &:hover {
    background: scale-color(color($name), $lightness: -30%, $saturation: -45%);
  }
}
