$bg-sidebar: #181920;
$bg-content: #282a36;

$color-light: #f8f8f2;
$color-primary: #bd93f9;
$color-secondary: #9e9fa4;
$color-tertiary: #5d5e63;
$color-success: #73cd6e;
$color-danger: #ff79c6;
$color-warning: #f1fa8c;
$color-info: #7df5e1;

$fam-sans: 'Open Sans', Arial, sans-serif;
$fam-mono: 'Inconsolata', Monaco, monospace;

$font-xs: .64 * 14px;
$font-sm: .8 * 14px;
$font-md: 1 * 14px;
$font-lg: 1.25 * 14px;
$font-xl: 1.563 * 14px;

$line-height: 1.2;

$gap-xs: 5px;
$gap-sm: 8px;
$gap-md: 15px;
$gap-lg: 30px;
$gap-xl: 60px;

$transition-sm: 100ms;
