$family-sans: 'Open Sans', Arial, sans-serif;
$family-mono: 'Inconsolata', Monaco, monospace;

$line-height-md: 1.2;
$line-height-lg: 1.8;

$transition-sm: 100ms;

$gaps: (
  x3s: 1px,
  x2s: 2px,
  xs: 5px,
  sm: 8px,
  md: 15px,
  lg: 30px,
  xl: 60px,
);
@function gap($name) {
  @return map-get($gaps, '#{$name}');
}

$fonts: (
  xs: 0.64 * 14px,
  sm: 0.8 * 14px,
  md: 14px,
  lg: 1.25 * 14px,
  xl: 1.563 * 14px,
  x2l: 1.953 * 14px,
  x3l: 2.441 * 14px,
);
@function font($name) {
  @return map-get($fonts, '#{$name}');
}

$colors: (
  light: #f4f4f0,
  sidebar: #181920,
  content: #282a36,
  primary: #c097fc,
  secondary: #9e9fa4,
  success: #73cd6e,
  danger: #ff79c6,
  warning: #f1fa8c,
  info: #7df5e1,
);
@function color($name) {
  @return map-get($colors, '#{$name}');
}
