@import '../../style/variables';
@import '../../style/mixins';

.hidden {
  display: none;
}

.button {
  margin-right: gap(xs);
  @include button(primary);
}

.view {
  max-width: 640px;
  margin: 0 auto;
  padding: gap(lg);
}

.content {
  margin: gap(lg) 0;
  font-size: font(md);
  line-height: $line-height-lg;

  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: gap(lg) 0 gap(md);
  }

  p {
    margin: 0 0 gap(md);
  }

  hr {
    margin: gap(lg) 0;
    border: 0;
    border-top: gap(x3s) solid color(secondary);
  }

  ul, ol {
    margin: 0 0 gap(md);
    padding: 0 0 0 gap(lg);

    li {
      padding: gap(x2s) 0;
    }
  }

  table {
    width: 100%;
    margin: 0 0 gap(md);
    border-spacing: 0;
    border-collapse: collapse;

    th, td {
      padding: gap(xs) gap(sm);
      border: gap(x3s) solid color(secondary);
    }
  }

  blockquote {
    margin: 0 0 gap(md);
    padding: 0 gap(md);
    border-left: gap(x3s) solid color(secondary);
  }

  code {
    margin: 0;
    padding: gap(xs);
    font-family: $family-mono;
    background: color(sidebar);
    border-radius: gap(xs);
  }

  pre {
    margin: 0 0 gap(md);
    padding: gap(sm) gap(md);
    background: color(sidebar);
    border-radius: gap(xs);

    code {
      padding: 0;
    }
  }

  img {
    max-width: 100%;
    display: block;
  }
}
