@import '../../style/variables';
@import '../../style/mixins';

.sidebar {
  height: 100%;
  background: color(sidebar);
  position: relative;
  overflow-y: auto;
  flex-shrink: 0;
  @include no-select;
}

.content {
  width: 100%;
  padding: gap(md) 0;
  white-space: nowrap;
  display: inline-block;

}

.nav {
  margin: 0;
  padding: 0;
  font-size: font(sm);
  color: color(secondary);

  .item {
    list-style: none;

    &.tree {
      margin: 0 0 gap(lg);
    }

    a {
      color: color(light);
    }

    h3 {
      margin: 0;
      padding: gap(sm) gap(md);
      font-size: font(sm);
      color: inherit;
      text-transform: uppercase;
    }
  }
}

.menu {
  padding: gap(xs);
  color: color(light);
  background: color(content);
  position: absolute;
  top: -999px;
  right: gap(sm);
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  @include transition(opacity $transition-sm ease-out);

  &.open {
    visibility: visible;
    opacity: 1;
  }

  hr {
    margin: gap(xs) 0;
    border: gap(x3s) solid transparentize(color(secondary), .9);
    border-bottom-width: 0;
  }

  .item {
    padding: gap(sm) gap(lg) gap(sm) gap(md);
    cursor: pointer;
    @include transition(background $transition-sm ease-out);

    &:hover {
      background: transparentize(color(secondary), .9);
    }
  }
}
