<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% preact.title %></title>
    <meta
      name="description"
      content="Monoto is a note taking app with text editor feel. It's cloud-based, lightweight, mobile-friendly, and organizable."
    />
    <meta name="keywords" content="note, writing, todo, journal, text, editor, cloud, sync, folder, organize" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="/assets/icons/android-chrome-192x192.png" />

    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
      as="style"
      onload="this.rel='stylesheet'"
    />

    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
