@import '../../style/variables';
@import '../../style/mixins';

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 67%;
  max-width: 300px;
  max-height: 200px;
}

.title {
  margin: 0;
  font-size: font(x3l);
  color: color(primary);
  text-align: center;
}

.subtitle {
  margin: gap(sm) 0 0;
  font-size: font(md);
  font-weight: 400;
  text-align: center;
}

.features {
  margin: gap(xl) 0 0;
  padding: 0;
  font-size: font(md);
  color: color(secondary);
  text-align: center;
  list-style-type: none;

  li > h3 {
    margin: gap(lg) 0 gap(sm);
    font-size: font(sm);
    text-transform: uppercase;
    color: color(light);
  }

  li:first-child > h3 {
    margin-top: 0;
  }
}

.button {
  @include button(primary);
  margin: gap(xl) 0 0;
  padding: gap(md) gap(lg);
  font-size: font(md);
}

.buttonIcon {
  width: gap(md);
  height: gap(md);
  margin: gap(x2s) gap(md) (- gap(x2s)) 0;
  fill: color(light);
}
