@import '../../style/variables';

.node {
  padding-right: $gap-lg;
  font-size: $font-md;
  line-height: $gap-lg;
  color: $color-secondary;
  overflow: hidden;
  text-overflow: ellipsis;
  list-style: none;
  position: relative;
  cursor: pointer;

  &:hover {
    background: transparentize($color-secondary, .9);
  }

  @for $level from 1 through 5 {
    &.level#{$level} {
      padding-left: $level * $gap-md;
    }
  }
}

.folder {
  margin-left: $gap-md;
  font-weight: 600;
  position: relative;

  &::before {
    content: '';
    border: 4px solid transparent;
    border-left: 5px solid $color-secondary;
    position: absolute;
    top: 6px;
    left: -$gap-md;
  }

  &.open::before {
    border: 4px solid transparent;
    border-top: 5px solid $color-secondary;
    top: 8px;
  }
}

.note {
  margin-left: $gap-md;
  color: $color-light;
  border: none;
  display: block;
  position: relative;

  &::before {
    content: '';
    border: 2px solid transparentize($color-secondary, .5);
    border-radius: 50%;
    position: absolute;
    top: 13px;
    left: -$gap-md;
  }

  &.active {
    font-weight: 600;
    border-bottom-color: $color-danger;
  }
}

.actions {
  padding: 0 $gap-sm;
  font-size: $font-xs;
  line-height: $gap-lg;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    color: $color-light;
  }
}
